@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* font-family: "Bungee Spice", cursive; */
}

.container {
  width: 18rem;
  height: 20rem;
  backdrop-filter: blur(36%);
  border-radius: 7px;
  padding: 10px;
  background-color: #4848485e;
  backdrop-filter: blur(3%);
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label {
  width: 60%;
  display: block;
}

#url {
  margin-bottom: 1rem;
  flex-basis: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px black;
  height: 2rem;
}

.button {
  width: 5rem;
  height: 1.5rem;
  background-color: #28282b;
  color: white;
  border: #28282b;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover {
  border: 1px white solid;
  background-color: transparent;
}
